.main header{
    height:3.2rem;
    width: 'device-widht';
    display: flex;
    align-items: center;
    background-color: #0c6648;
  }
  .main header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .main header ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .main header ul li{
      float: left;
  }
  .main header ul li a:hover{
  background-color: #46bb94
  }